lerna-debug.log
node_modules
dist
.DS_Store
yarn.lock
packages/**/dist/**
packages/**/types/**
packages/**/tsconfig.cjs.json
packages/**/tsconfig.esm.json
packages/**/*.lock
packages/**/*.log

examples/**/.node-exposes/**
examples/**/dist/**
examples/**/types/**
examples/**/tsconfig.cjs.json
examples/**/tsconfig.esm.json
examples/**/*.lock
examples/**/*.log
