engine-strict=true
registry=https://registry.npmmirror.com
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*stylelint*
public-hoist-pattern[]=*postcss*
public-hoist-pattern[]=*loader*
public-hoist-pattern[]=*webpack*
public-hoist-pattern[]=@gen*
public-hoist-pattern[]=@fm*
public-hoist-pattern[]=@gez*
public-hoist-pattern[]=!@gez/lint
public-hoist-pattern[]=@std*
public-hoist-pattern[]=*-loader*
public-hoist-pattern[]=webpack-*
