engine-strict=true
registry=https://registry.npmmirror.com/
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*stylelint*
public-hoist-pattern[]=*postcss*
public-hoist-pattern[]=*loader*
public-hoist-pattern[]=*webpack*
