:root {
    --rp-c-brand: #FFC107;
    --rp-c-brand-light: #FFE082;
    --rp-c-brand-lighter: #FFF3E0;
    --rp-c-brand-dark: #FFA000;
    --rp-c-brand-darker: #FF8F00;
    --rp-c-brand-tint: rgba(255, 193, 7, 0.16);
}
.rspress-logo {
    width: 48px;
    height: 48px;
}